.Dropdown-root{
    .Dropdown-control{
        height: 20px;
        padding: 0px 52px 8px 10px;
        .Dropdown-arrow-wrapper{
            .Dropdown-arrow {
                top: 10px
            }
        }
    }
}
